@editable-tree-prefix-cls: ~'am-editable-tree';

.@{editable-tree-prefix-cls} {
  &-wrapper {
    .arco-divider {
      margin: 6px 0;
    }
  }

  &-header {
    padding: 4px 8px;

    > .arco-icon {
      cursor: pointer;
      margin-right: 8px;
    }
  }

  &-node-icon-group {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);

    > * {
      margin-left: 8px;
    }
  }

  &-node-edit-confirm {
    .arco-popconfirm-inner-content {
      padding-left: 0;
    }
  }

  .tree-node-dragged {
    > .arco-tree-node-title {
      animation: treeNodeBlinkBg 0.4s 2;
    }
  }

  @keyframes treeNodeBlinkBg {
    0% {
      background-color: transparent;
    }

    100% {
      background-color: var(--color-primary-light-1);
    }
  }
}
