@prefix-cls: ~'am-verification-code';

.@{prefix-cls} {
  & &-input {
    margin: 0 2px;
    text-align: center;

    &.arco-input {
      padding-left: 2px;
      padding-right: 2px;
    }

    &-mini {
      width: 24px;
    }

    &-small {
      width: 28px;
    }

    &-default {
      width: 32px;
    }

    &-large {
      width: 36px;
    }
  }

  &-password {
    .arco-input-group-wrapper {
      vertical-align: middle;

      .arco-input-group-suffix {
        display: none;
      }

      .arco-input-inner-wrapper {
        padding-left: 2px;
        padding-right: 2px;

        > input {
          text-align: center;
        }
      }
    }
  }
}
